@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 226,235,224;
  --foreground: 249,252,248;
  --darkgreen: #2B461C;
  --lightergreen: #A1CF6B;
  --olive: #D5D887;
  --yellow: #F3F695;
  --mustard: #E0C879;
  --coral : #E87461;
}

body {
  background: rgb(var(--background))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
